/Pods/*
./Pods/*

Pods-acknowledgements.markdown
Pods-acknowledgements.plist
Pods.debug.xcconfig
Pods.release.xcconfig
Podfile.lock
Manifest.lock
project.pbxproj
Pods.xcscheme
xcschememanagement.plist
